@page "/"
<PageTitle>Resaplace</PageTitle>

<h1>Resaplace</h1>
<h2>Направи резервация бързо и лесно!</h2>

@foreach (var r in Restaurants)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/@r.Images.First().ImagePath" alt="@r.Images.First().AltText">
        <div class="card-body">
            <h5 class="card-title">@r.Name</h5>
            <p class="card-text">@r.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@r.City</li>
            <li class="list-group-item">@r.StreetAddress</li>
        </ul>
        <div class="card-body">
            <a href="/@r.Id" class="card-link">Направи резервация</a>
        </div>
    </div>
}
