@page "/myrestaurants"
@attribute [Authorize(Roles = "Owner")]

<h3>Моите ресторанти</h3>

@foreach (var res in Restaurants)
{
    <div class="container border rounded mb-5 p-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var image in res.Images)
            {
                <div class="col">
                    <img src="/images/@image.ImagePath" class="card-img-top" alt="@image.AltText">
                </div>
            }
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Име</th>
                    <td>@res.Name</td>
                </tr>
                <tr>
                    <th scope="row">Описание</th>
                    <td>@res.Description</td>
                </tr>
                <tr>
                    <th scope="row">Адрес</th>
                    <td>@res.Country, @res.City, @res.StreetAddress</td>
                </tr>
                <tr>
                    <th scope="row">Телефон за връзка</th>
                    <td>@res.PhoneNumber</td>
                </tr>
                <tr>
                    <th scope="row">Брой маси</th>
                    <td>@res.TotalTables</td>
                </tr>
                <tr>
                    <th scope="row">Брой места</th>
                    <td>@res.TotalSeats</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" @onclick="@(() => NavigateToStaff(res.Id))">Управление на служители</button>
            <button type="button" class="btn btn-secondary" @onclick="@(() => NavigateToDishes(res.Id))">Управление на ястия/напитки</button>
            <button type="button" class="btn btn-secondary" @onclick="@(() => NavigateToRestaurant(res.Id))">Промяна на информация</button>
        </div>
        <button type="button" class="btn btn-danger" @onclick="@(()=>ShowDeletePopup(res))">Изтриване на ресторант</button>

    </div>
}

@if (DeleteRestaurantPopup)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изтриване на ресторант @RestaurantToBeDeleted.Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@CancelDeletion"></button>
                </div>
                <div class="modal-body">
                    <p>Сигурни ли сте, че искате да изтриете ресторант @RestaurantToBeDeleted.Name? Това действие ще изтрие всичката информация, свързана с него, включително всички прилежащи резервации!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@CancelDeletion">Не</button>
                    <button type="button" class="btn btn-success" @onclick="@AcceptDeletion">Да</button>
                </div>
            </div>
        </div>
    </div>
}