@using Resaplace.Data.Models

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@mainImagePath" alt="@Application.Images.First().AltText">
    <div class="card-body">
        <h5 class="card-title">@Application.Name</h5>
        <p class="card-text">@Application.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Application.Country</li>
        <li class="list-group-item">@Application.City</li>
        <li class="list-group-item">@Application.StreetAddress</li>
        <li class="list-group-item">@Application.Owner.Email</li>
        <li class="list-group-item">@Application.PhoneNumber</li>
        <li class="list-group-item">Маси: @Application.TotalTables</li>
        <li class="list-group-item">Места: @Application.TotalSeats</li>
    </ul>

    @switch (@Application.ApplicationStatus)
    {
        case BasicStatus.Pending:
            <div class="card-body">
                <a href="/restaurantapplications/@Application.Id" class="card-link">Преглед</a>
            </div>
            break;
        case BasicStatus.Accepted:
            <div class="card-body">
                <div class="alert alert-success">
                    Одобрен
                </div>
            </div>
            break;
        case BasicStatus.Declined:
            <div class="card-body">
                <div class="alert alert-danger">
                    Отказан
                    <br>
                    @Application.FeedbackMessage
                </div>
            </div>
            break;
    }
</div>

