@page "/restaurantapplications/{Id:int}"
@attribute [Authorize(Roles = "Admin")]

@if (CurrentApplication == null)
{
    <p>@InitialMessage</p>
}
else
{
    <h3>Детайли за @CurrentApplication.Name</h3>

    <div class="border rounded mb-5 p-3">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var image in CurrentApplication.Images)
            {
                <div class="col">
                    <img src="/images/@image.ImagePath" class="card-img-top card-img-custom" alt="@image.AltText">
                </div>
            }
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Име</th>
                    <td>@CurrentApplication.Name</td>
                </tr>
                <tr>
                    <th scope="row">Описание</th>
                    <td style="word-break: break-word">@CurrentApplication.Description</td>
                </tr>
                <tr>
                    <th scope="row">Адрес</th>
                    <td>@CurrentApplication.Country, @CurrentApplication.City, @CurrentApplication.StreetAddress</td>
                </tr>
                <tr>
                    <th scope="row">Телефон за връзка</th>
                    <td>@CurrentApplication.PhoneNumber</td>
                </tr>
                <tr>
                    <th scope="row">Брой маси</th>
                    <td>@CurrentApplication.TotalTables</td>
                </tr>
                <tr>
                    <th scope="row">Брой места</th>
                    <td>@CurrentApplication.TotalSeats</td>
                </tr>

                <tr>
                    <th colspan="2" class="text-center">Информация за собственик</th>
                </tr>

                <tr>
                    <th scope="row">Име</th>
                    <td>@CurrentOwner.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">Презиме</th>
                    <td>@CurrentOwner.MiddleName</td>
                </tr>
                <tr>
                    <th scope="row">Фамилия</th>
                    <td>@CurrentOwner.LastName</td>
                </tr>
                <tr>
                    <th scope="row">Адрес</th>
                    <td>@CurrentOwner.Address</td>
                </tr>
                <tr>
                    <th scope="row">Град</th>
                    <td>@CurrentOwner.City</td>
                </tr>
                <tr>
                    <th scope="row">Община</th>
                    <td>@CurrentOwner.Municipality</td>
                </tr>
                <tr>
                    <th scope="row">Област</th>
                    <td>@CurrentOwner.Region</td>
                </tr>
                <tr>
                    <th scope="row">ЕИК</th>
                    <td>@CurrentOwner.EIK</td>
                </tr>
                <tr>
                    <th scope="row">Фирма</th>
                    <td>@CurrentOwner.CompanyName</td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-success" @onclick="@ApproveRestaurantButtonClick">Одобряване на заявката</button>
            <button type="button" class="btn btn-danger" @onclick="@DenyRestaurantButtonClick">Отказване на заявката</button>
        </div>
    </div>

    @if (ShowAcceptPopup)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display: block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Одобряване на ресторант @CurrentApplication.Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@CancelApproval"></button>
                    </div>
                    <div class="modal-body">
                        <p>Сигурни ли сте, че искате да одобрите създаването на ресторант @CurrentApplication.Name в Resaplace?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@CancelApproval">Не</button>
                        <button type="button" class="btn btn-success" @onclick="@AcceptApproval">Да</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ShowDeclinePopup)
    {
        <div class="modal" tabindex="-1" role="dialog" style="display: block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Отказ на ресторант @CurrentApplication.Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@CancelDenial"></button>
                    </div>
                    <div class="modal-body">
                        <p>Моля, въведете причината за отказа, за да бъде записана в заявката @CurrentApplication.Name:</p>
                        <input type="text" placeholder="Причина за отказ" @bind="@FeedbackMessage">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@CancelDenial">Не</button>
                        <button type="button" class="btn btn-success" @onclick="@AcceptDenial">Да</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
