@page "/myreservations"
@attribute [Authorize]

<h3>Моите резервации</h3>

@foreach (var res in Reservations)
{
    <div class="border rounded mb-5 p-3">
        <h4>@res.Restaurant.Name</h4>
        <h5>Адрес: @res.Restaurant.City, @res.Restaurant.StreetAddress</h5>
        <div>
            <p>Час и дата: @res.DateTime</p>
            <p>Брой хора: @res.PeopleNumber</p>
            <p>Телефон за въпроси: @res.Restaurant.PhoneNumber</p>
        </div>
        @if (res.ReservationDishes.Count != 0)
        {

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Продукт</th>
                        <th scope="col">Ед. цена</th>
                        <th scope="col">Брой</th>
                        <th scope="col">Цена</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double sum = 0;
                    }
                    @foreach (var d in res.ReservationDishes)
                    {

                        <tr>
                            <th scope="row">@d.Dish.Name</th>
                            <td>@(string.Format("{0:0.00}", d.Dish.Price)) лв.</td>
                            <td>@(d.Amount)x</td>
                            <td>@(string.Format("{0:0.00}", d.Dish.Price * d.Amount)) лв.</td>
                        </tr>
                        sum += d.Dish.Price * d.Amount;
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end text-muted" colspan="3">(Сумата от поръчаните продукти ще бъде добавена към крайната Ви сметка в ресторанта)</td>
                        <th scope="row">Тотал: @(string.Format("{0:0.00}", sum)) лв.</th>
                    </tr>
                </tfoot>
            </table>
        }

        <button type="button" class="btn btn-danger" @onclick="@(()=>ShowDeletePopup(res))">Изтриване на резе</button>
    </div>
}

@if (DeleteReservationPopup)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Изтриване на резервация в @ReservationToBeDeleted.Restaurant.Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@CancelDeletion"></button>
                </div>
                <div class="modal-body">
                    <p>Сигурни ли сте, че искате да изтриете Вашата резервация в ресторант @ReservationToBeDeleted.Restaurant.Name?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@CancelDeletion">Не</button>
                    <button type="button" class="btn btn-success" @onclick="@AcceptDeletion">Да</button>
                </div>
            </div>
        </div>
    </div>
}